version: '3'

services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./www:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=compta
      - DB_PASS=compta123
      - DB_NAME=compta

  db:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root123
      - MYSQL_DATABASE=compta
      - MYSQL_USER=compta
      - MYSQL_PASSWORD=compta123
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d

volumes:
  mysql_data:
