<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true" stopOnFailure="false">
    <testsuites>
        <!-- Integration tests must run first to define real db functions -->
        <testsuite name="Integration">
            <directory>integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>functional</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>e2e</directory>
        </testsuite>
        <testsuite name="Acceptance">
            <directory>acceptance</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_USER" value="compta"/>
        <env name="DB_PASS" value="compta123"/>
        <env name="DB_NAME" value="compta_test"/>
    </php>
</phpunit>
